<h1>An error has occured on the Wizzie Wizzie Website</h1>

<p><strong>Error Message:</strong> {{ errorMessage }}</p>

<h2>Trace:</h2>
<pre>{{ trace }}</pre>

<h2>User Submitted Data:</h2>
<pre>{{ data }}</pre>