# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


SetEnvIfNoCase User-Agent "Googlebot" google_bot

<Limit POST>
    Order Allow,Deny
    Allow from all
    Deny from env=google_bot
</Limit>

<Files README.md>
    Deny from all
</Files>
