{% extends "base.twig" %}
{% block content %}

<p>Dear {{ volunteer_name }},</p>

<p>Many thanks for entering your details on the Wizzie Wizzie site regarding teaching children how to code; at the moment we are reaching out to as many developers, tutors and volunteers as we can.</p>

<p>It would be great if we could meet up and discuss how things work and what's involved? Let me know if you are free to have a chat this week or next sometime?</p>

<p>Many thanks,</p>

<p>David Sutherland</p>
<p><a href="mailto:sutherland.dave@gmail.com">sutherland.dave@gmail.com</a></p>

<p><a href="https://twitter.com/thewizziewizzie">Follow @thewizziewizzie on Twitter</a></p>

{% endblock %}